/* 共通 */
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  color: #292929;
  font-size: clamp(12px, 2.5vw, 24px);
}

body {
  font-family: APFont;
}

header {
  background-color: white;
  box-shadow: 0 0 8px;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 30;
}

header a img {
  width: auto;
  height: 100%;
  aspect-ratio: 5/2;
}

main {
  padding-top: 50px;
  background-color: #f49fe3;
}

footer {
  background-color: white;
  padding-top: 15px;
}

footer p {
  font-size: 12px;
}

p {
  padding: 5px;
}

/* ページ汎用 */
h1.center,
h2.center,
h3.center,
p.center,
div.center {
  text-align: center;
}

h1.left,
h2.left,
h3.left,
p.left,
div.left {
  text-align: left;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 2vw 0;
}

.horizontal li {
  display: inline-block;
  padding: 0px 15px 30px;
}

.titleText {
  font-size: clamp(12px, 5vw, 99px);
}

@font-face {
  font-family: 'APFont';
  src: url("../font/AP.ttf");
}

/* ネオンテキスト */
.neonText {
  color: #fff;
  text-shadow: 0 0 5px #ff005b, 0 0 10px #ff005b, 0 0 20px #ff005b, 0 0 40px #ff005b;
}

/* ネオンフレーム */
.neonFrame {
  overflow: hidden; 
  border-radius: 1.2vw; 
  box-shadow: 
    0 0 5px #ff005b, 
    0 0 10px #ff005b, 
    0 0 20px #ff005b, 
    0 0 40px #ff005b;
}

/* プロフィール */
/* アバウト */
.profile,
.about {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

.profile img,
.about img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* コンテンツ */
.content {
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  z-index: 1;
}

.content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* フッター */
footer .content img {
  max-width: 400px;
  width: 100%;
  aspect-ratio: 5/2;
}

footer .content a img {
  width: 20px;
  aspect-ratio: 1;
}

/* ロード画面 */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f49fe3;
  text-align: center;
  color: white;
  visibility: visible;
  opacity: 1;
}

#loadingLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadingLogo img {
  width: 80%;
  height: auto;
}

/* フェードイン */
.fadeIn {
  animation: fadeInAnime .3s ease 0s 1 normal forwards;
}

@keyframes fadeInAnime {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

/* フェードアウト */
.fadeOut {
  animation: fadeOutAnime .3s ease 0s 1 normal forwards;
}

@keyframes fadeOutAnime {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

/* フェードアップ */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 水平にふわふわ */
.flyAnimationX {
  animation-name: floating-x;
  animation-duration: 3.2s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 2.5s); 
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes floating-x {
  0% {
    transform: translateX(-7%) rotate(-3deg);
  }
  100% {
    transform: translateX(7) rotate(3deg);
  }
}

/* 垂直にふわふわ */
.flyAnimationY {
  animation-name: floating-y;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--delay) * 1.0s); 
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes floating-y {
  0% {
    transform: translateY(-7%) rotate(-3deg);
  }
  100% {
    transform: translateY(7%) rotate(3deg);
  }
}

/* 文字のアニメーション */
.splitTextAnimation span {
  display: inline-block;
  opacity: 0;
}

.splitTextAnimation.is-animated span {
  animation-name: splitTextfadeUpKeyframes;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: calc(var(--delay) * 0.02s); 
  animation-fill-mode: forwards;
}

.topMessage .splitTextAnimation.is-animated span {
  animation-delay: calc(0.5s + (var(--delay) * 0.02s)); 
}

@keyframes splitTextfadeUpKeyframes {
  from  {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ポップアップ */
.popUpAnimation {
  opacity: 0;
  transform: scale(0.5);
}

.popUpAnimation.is-animated {
  animation-name: popIn;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
}

.topIcon1 .popUpAnimation.is-animated,
.topIcon2 .popUpAnimation.is-animated, 
.topIcon3 .popUpAnimation.is-animated {
  animation-delay: 2.0s; 
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* 画像のアニメーション */
.imageAnimation {
  opacity: 0;
}

.imageAnimation.is-animated {
  animation-name: imageFadeUpkeyframes;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.topCharacter.imageAnimation.is-animated {
  animation-delay: 0.1s; 
  animation-name: imageFadeLeftkeyframes;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.aboutCharacter.imageAnimation.is-animated {
  animation-name: imageFadeLeftkeyframes;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.topVideo.imageAnimation.is-animated {
  animation-delay: 2.5s; 
}

@keyframes imageFadeLeftkeyframes {
  from  {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes imageFadeUpkeyframes {
  from  {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* リンクボタン */
.linkButton {
  position: relative;
  display: inline-block;
  padding: 10px 25px 10px 5px;
  margin: 2px;
  color: #313131;
  transition: .3s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  border: 5px solid;
  border-color: gray;
  border-radius: 8px;
}

.linkButton:hover {
  background-color: #FFF;
}

.linkButton:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transition: right .3s;
  width: 6px;
  height: 6px;
  border-top: solid 5px gray;
  border-right: solid 5px gray;
  transform: translateY(-50%) rotate(45deg);
}

.linkButton:hover:after {
  right: 7px;
}

/* 記事 */
.article {
  margin: 0px auto 0px;
  box-sizing: border-box;
}

.article-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
  clear: both;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 0px;
  margin-top: 0px;
}

.article-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.article-list li {
  border-bottom: 1px dotted #333;
  padding: 8px 0px;
  margin: 0px 12px;
}

.article-list li:last-child {
  border-bottom: medium none;
}

.article-list-date {
  padding: 0px 8px;
  color: #666666;
}

details[open] summary {
  border-bottom: 1px dotted #333;
  margin: 0px 12px;
}

details summary::before {
  content: "▼";
}

details[open] summary::before {
  content: "▲";
}

summary {
  display: block;
  list-style: none;
  text-align: center;
}

summary::-webkit-details-marker {
  display: none;
}

/* 画面サイズ別設定 */
@media screen and (min-width: 955px) {

  /* ナビゲーション */
  #navigation {
    position: fixed;
    right: 0;
    width: 80%;
    top: 0;
    text-align: right;
    height: 50px;
  }

  #navigation li {
    display: inline-block;
    text-align: left;
    letter-spacing: -.001px;
    margin: 11px 4%;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: gray;
  }

  .navigationButton,
  .navigationButton span,
  .navigationButton span:nth-of-type(1),
  .navigationButton span:nth-of-type(2),
  .navigationButton span:nth-of-type(3),
  .navigationButton.active span:nth-of-type(1),
  .navigationButton.active span:nth-of-type(2),
  .navigationButton.active span:nth-of-type(3) {
    visibility: hidden;
  }

  /* トップキャラクター */
  .topCharacter{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);
    margin-left: 44%;
    width: 48%;
    margin-top: -50px;
  }

  /* トップメッセージ */
  .topMessage{
    position: absolute;
    width: 50%;
    left: 10%;
    top: 30%;
    font-size: clamp(12px, 2.5vw, 99px);
    transform: rotate(-15deg);
  }

  /* トップアイコン */
  .topIcon1{
    position: absolute;
    left: 13%;
    top: 13%;
    width: 6%;
  }
  
  .topIcon2{
    position: absolute;
    left: 42%;
    top: 78%;
    width: 6%;
  }

  .topIcon3{
    position: absolute;
    left: 85%;
    top: 27%;
    width: 6%;
  }

  /* トップビデオ */
  .topVideo{
    position: absolute;
    width: 50%;
    left: -3%;
    top: 47%;
    aspect-ratio: 16 / 9;
    scale: 50%;
    border: none; 
  }

  .topVideo iframe {
    width: 100%;
    height: 100%;
  }

  /* アバウトキャラクター */
  .aboutCharacter{
    width: 20%;
    margin-left: 60%;
  }
}

/* 画面サイズ別設定 */
@media screen and (max-width: 954px) {

  /* ナビゲーション */
  #navigation {
    position: fixed;
    right: 0;
    width: 100%;
    top: 50px;
    height: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
  }

  #navigation li {
    display: inline-block;
    letter-spacing: -.001px;
    width: 30%;
    margin-top: 60px;
  }

  #navigation li a,
  #navigation li span {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: white;
  }

  .navigationButton {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .navigationButton span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
    box-shadow: 0 0 2px;
  }

  .navigationButton span:nth-of-type(1) {
    top: 15px;
    z-index: 31;
    background-color: gray;
  }

  .navigationButton span:nth-of-type(2) {
    top: 23px;
    background-color: gray;
  }

  .navigationButton span:nth-of-type(3) {
    top: 31px;
    background-color: gray;
  }

  .navigationButton.active span:nth-of-type(1) {
    top: 18px;
    left: 16px;
    transform: translateY(6px) rotate(45deg);
    width: 40%;
  }

  .navigationButton.active span:nth-of-type(2) {
    opacity: 0;
  }

  .navigationButton.active span:nth-of-type(3) {
    top: 30px;
    left: 16px;
    transform: translateY(-6px) rotate(-45deg);
    width: 40%;
  }

  /* トップキャラクター */
  .topCharacter{
    overflow: visible;
    margin-top: -50px;
  }

  /* トップメッセージ */
  .topMessage{
    font-size: clamp(12px, 2.5vw, 99px);
  }

  /* トップアイコン */
  .topIcon1{
    display: none;
  }

  .topIcon2{
    display: none;
  }

  .topIcon3{
    display: none;
  }

  /* トップビデオ */
  .topVideo{
    display: none;
  }

  /* アバウトキャラクター */
  .aboutCharacter{
    overflow: visible;
    width: 45%;
    margin-left: 50%;
  }
}